<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>

<p>Click on the emotion or person to visit page or transcript.<br> Line thickness corresponds to number of emotion tags in the interview.</p></br>

<img src="https://cdil.lib.uidaho.edu/chestnut-collective/objects/alluvial.png" alt="Alluvial Data Visualization" usemap="#map" width="800" height="600" style="max-width:100%;height:auto;">

<map name="map">
  <area shape="rect" coords="34,30,88,65" alt="anxiety" href="anxiety.html">
  <area shape="rect" coords="34,84,75,109" alt="care" href="care.html">
  <area shape="rect" coords="34,119,100,157" alt="excitement" href="excitement.html">
  <area shape="rect" coords="34,165,97,190" alt="frustration" href="frustration.html">
  <area shape="rect" coords="34,200,133,250" alt="haunting ghosts" href="haunting.html">
  <area shape="rect" coords="34,260,75,275" alt="hope" href="hope.html">
  <area shape="rect" coords="34,280,97,330" alt="imagination" href="imagination.html">
  <area shape="rect" coords="34,300,120,425" alt="love & passion" href="love.html">
  <area shape="rect" coords="34,430,123,445" alt="moral obligation" href="moral-obligation.html">
  <area shape="rect" coords="34,450,116,480" alt="mountain culture" href="mountain-culture.html">
  <area shape="rect" coords="34,490,116,520" alt="nostalgia" href="nostalgia.html">
  <area shape="rect" coords="34,525,116,540" alt="patience" href="patience.html">
  <area shape="rect" coords="34,545,116,585" alt="sadness" href="sadness.html">
  <area shape="rect" coords="700,320,770,415" alt="sara" href="items/chestnut051.html">
  <area shape="rect" coords="700,435,770,500" alt="savannah" href="items/chestnut050.html">
</map>

</body>
</html>