<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>

    <p><b>A sociocultural and sociopolitical research project</b> tracking the blight and subsequent loss of the American Chestnut on Appalachian families and communities.
        <blockquote
  cite="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/blockquote">Explore the diagram below to connect oral histories to the topics they explore. Line thickness relates to the number of emotion tags of each narrator.</p></blockquote>

{% include index/alluvial.svg %}

<div class="callout">
    <div class="callout-header">Note:</div>
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <div class="callout-container">
      <p>This collection is a work in development. In the future, additional features may be incorporated and all narrators will have functioning Oral History as Data pages as <a href="/items/chestnut051.html">Sara</a> and <a href="/items/chestnut050.html">Savannah</a> do currently.</p></p>
    </div>
  </div>

</body>
</html>