<!doctype html>
<html lang="en" class="h-100">

<head prefix="og: http://ogp.me/ns#">
  {% include head/head.html %}
</head>

<body class="d-flex flex-column h-100">
  <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-10">
        {% include collection-banner.html %}
        <main id="maincontent" role="main" class="flex-shrink-0">
          {{ content }}
        </main>
      </div>
          <style>
          .leaf{
            background: url({{ '/objects/castanea_dentata_B.jpeg' | relative_url }});
            background-size: contain;
        }
        </style>
      <div class="col-2 d-none d-md-block {% if page.layout == "home-infographic" %}leaf{% endif %}" >
        
        {% unless page.layout == "home-infographic" %}
        {% include feature/default-gallery.html %}
        {% endunless %}
      </div>
      <div class="col-12">
        {% include footer.html %}
      </div>
    </div>
  </div>
  {% include foot.html %}
  {% include scroll-to-top.html %}
</body>

</html>