---
# generic page layout
layout: default
---

<style>

/* Callout box - fixed position at the bottom of the page */
.callout {

  position: static;
  bottom: 30px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 290px;
  max-width: 1200px;
  max-height: 45px;
}

/* Callout header */
.callout-header {
  padding: 15px 15px;
  background: #008080;
  font-size: 30px;
  color: white;
}

/* Callout container/body */
.callout-container {
  padding: 15px;
  background-color: #DBF1FD;
  color: black
}

/* Close button */
.closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

/* Change color on mouse-over */
.closebtn:hover {
  color: lightgrey;
}

</style>
<div class="container my-4">
  {{ content }}
</div>